<div class="login-container">
  <h1 class="login-heading">宿泊予約</h1>

  <%= form_with(model: @reservation, url: new_user_reservation_path(id: @user.id), local: true) do |form| %>

    <% if @reservation.errors.any? %>
      <div class="error-messages">
        <strong><%= @reservation.errors.count %>個のエラーがあります。</strong>
        <ul>
          <% @reservation.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= form.label :チェックイン日 %>
      <%= form.date_field :check_in_date, class:'form-control' %>
    </div>

    <div class="form-group">
      <%= form.label :チェックアウト日 %>
      <%= form.date_field :check_out_date, class:'form-control' %>
    </div>

    <div class="form-group">
      <%= form.label :宿泊人数 %>
      <%= form.number_field :num_guests, class:'form-control' %>
    </div>

    <%= form.submit '予約登録', class: 'login-button' %>
  <% end %>
</div>