<h1>こんにちは</h1>


<h3>施設検索</h3>

<%= form_tag search_rooms_path, method: :get do %>
  <div class="search-form">
    <%= text_field_tag :search_query, params[:search_query], placeholder: "施設名または施設詳細を入力してください" %>
    <%= submit_tag "検索" %>
  </div>
<% end %>


<h3>都市別検索</h3>

<%= link_to "東京", search_rooms_path(search_address: "東京"), class: "search-button" %>
<%= link_to "大阪", search_rooms_path(search_address: "大阪"), class: "search-button" %>
<%= link_to "京都", search_rooms_path(search_address: "京都"), class: "search-button" %>
<%= link_to "札幌", search_rooms_path(search_address: "札幌"), class: "search-button" %>
