<style>
  body {
    font-family: Arial, sans-serif;
    background-color: #fafafa;
  }

  h3 {
    font-size: 24px;
    margin: 20px;
    color: #333;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }

  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }

  th {
    background-color: #f2f2f2;
  }

  .room-image {
    width: 100px;
    height: 50px;
    overflow: hidden;
  }

  .room-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  a {
    text-decoration: none;
    color: black;
    padding: 10px 20px;
    border-radius: 4px;
    display: inline-block;
    transition: background-color 0.3s ease;
  }

  
</style>

<h3>施設一覧</h3>

<table>
  <thead>
    <tr>
      <th>画像</th>
      <th>施設名</th>
      <th>紹介文</th>
      <th>料金</th>
      <th>作成日</th>
    </tr>
  </thead>

  <tbody>
    <% @rooms.each do |room| %>
      <tr>
        <td class="room-image">
          <% if room.room_image.present? %>
            <%= image_tag room.room_image, size: "100x50" %>
          <% else %>
            <%= image_tag "room_image.png", size: "100x50" %>
          <% end %>
        </td>
        <td><%= link_to room.room_name, room %></td>
        <td><%= room.description %></td>
        <td><%= room.room_fee %></td>
        <td><%= room.created_at.strftime("%Y/%m/%d") %></td>
      </tr>
    <% end %>
  </tbody>
</table>
