<!DOCTYPE html>
<html>
  <head>
    <title>ReservationApp</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <style>
      body {
        margin: 0;
        padding: 0;
      }

      .header {
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #3897f0;
        width: 100%;
        position: fixed;
        top: 0;
        z-index: 999;
      }

      .header-logo {
        margin-right: 20px;
      }

      .header-logo img {
        width: 120px;
        height: auto;
      }

      .user-info {
        display: flex;
        align-items: center;
      }

      .user-info img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-right: 10px;
      }

      .user-info span {
        font-size: 16px;
        font-weight: bold;
        color: #fff;
      }

      .dropdown-menu {
        left: auto !important;
        right: 0 !important;
        background-color: #f9f9f9;
        border: none;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      }

      .dropdown-menu a.dropdown-item {
        color: #333;
        font-size: 14px;
      }

      .dropdown-menu a.dropdown-item:hover {
        background-color: #eee;
      }

      /* 追加: ヘッダーとコンテンツの間隔を調整 */
      .content {
        margin-top: 80px;
        padding: 20px;
      }
    </style>

  </head>

  <body>
    <% if logged_in? %>
      <div class="header">
        <div class="header-logo">
          <%= link_to toppage_path do %>
            <%= image_tag "logo.png", alt: "Logo" %>
          <% end %>
        </div>

        <div class="user-info">
          <span><%= current_user.name %></span>

          <div class="dropdown">
            <button class="btn btn-link dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <% if @user.icon.present? %>
                <%= image_tag @user.icon, size: "40x40", class: "user-icon" %>
              <% else %>
                <%= image_tag "icon.png", size: "40x40", class: "user-icon" %>
              <% end %>
            </button>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
              <%= link_to 'ログアウト', logout_path, method: :delete, class: "dropdown-item" %>
              <%= link_to '予約一覧', index_user_reservation_path(@user, @room), class: "dropdown-item" %>
              <%= link_to '施設一覧', index_user_room_path(@user), class: "dropdown-item" %>
              <%= link_to '施設登録', new_user_room_path(@user), class: "dropdown-item" %>
              <%= link_to 'アカウント', show_account_path(@user), class: "dropdown-item" %>
              <!-- 追加のメニュー項目をここに追記 -->
            </div>
          </div>
        </div>
      </div>
    <% else %>
      <div class="header">
        <div class="header-logo">
          <%= link_to toppage_path do %>
            <%= image_tag "logo.png", alt: "Logo" %>
          <% end %>
        </div>

        <div class="header-contents">
          <%= link_to 'アカウント作成', signup_path, class: 'signup-link' %>
          <%= link_to 'ログイン', login_path, class: 'signup-link' %>
        </div>
      </div>
    <% end %>

    <div class="content">
      <%= yield %>
    </div>
  </body>
</html>
